/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@charset "UTF-8";

/**
 * @author Tristan Bernard <1763844@csfoy.ca>
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Mise en page
 ***
 ***
 ***
 *
 */

/* Normalize
   ========================================================================== */
@import url(normalize.css);

/* Utilitaires
   ========================================================================== */
@import url(utilitaires.css);

/* Charte typographique
   ========================================================================== */
@import url(typo.css);

/* Mise en page
   ========================================================================== */

body {
    background: #131313;
    color: white;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header, footer {
    background: #FFCC00;
    color: #131313;
    text-align: center;
    padding: 1px;
}

.titre-site {
    font-size: 48px;
}

.sous-titre-site {
    font-size: 24px;
}

.titre-site, .sous-titre-site, .titre-site-2, .sous-titre-site-2, .credits {
    font-weight: bold;
    font-family: 'Cuprum', sans-serif;
}

.titre-site-2 {
    font-size: 24px;
}

.sous-titre-site-2 {
    font-size: 14px;
}

.credits {
    font-size: 14px;
}

.credits a {
    text-decoration: none;
    color: #131313;
}

.credits a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    text-align: center;
    font-weight: bold;
}

li {
    display: inline-block;
    margin-right: 25px;
}

ul li a {
    color: #131313;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

.banniere {
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: 50%;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.banniere img {
    margin: auto;
}

.cote-etoiles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: 'Cuprum', sans-serif;
}

h2 {
    font-family: 'Cuprum', sans-serif;
}

a {
    color: white;
}

section {
    padding-left: 20px;
    padding-right: 20px;
}

.section1 {
    grid-area: a;
    width: 490px;
    height: 284px;
    -ms-grid-column-align: center;
    justify-self: center;
}

.section2 {
    grid-area: b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.guillemets {
    font-size: 75px;
    font-weight: bold;
}

.section3 {
    grid-area: c;
    padding-left: 20px;
    padding-right: 20px;
}

.section4 {
    grid-area: d;
    padding-left: 20px;
    padding-right: 20px;
}

img.section4-image {
    width: 490px;
}

.section5 {
    grid-area: e;
    padding-left: 20px;
    padding-right: 20px;
}

.section6 {
    grid-area: f;
    width: 235px;
    height: 284px;
    padding-left: 20px;
    padding-right: 20px;
    -ms-grid-column-align: center;
    justify-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.section7 {
    grid-area: g;
    padding-left: 20px;
    padding-right: 20px;
}

.media-sociaux {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (min-width: 600px) {

    .sections {
        padding-left: 20px;
        padding-right: 20px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        -ms-grid-rows: auto 20px auto 20px auto 20px auto;
        grid-template-areas:
        "a a b b"
        "c c d d"
        "e f d d"
        "g g d d";
    }

    .section1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .section2 {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
        -ms-grid-column-span: 3;
    }

    .section3 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .section4 {
        -ms-grid-row: 3;
        -ms-grid-row-span: 5;
        -ms-grid-column: 5;
        -ms-grid-column-span: 3;
    }

    .section5 {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    .section6 {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
    }

    .section7 {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
}
